.container {
    text-align: center;
    min-height: 100vh;
    padding: 20px;

    h2 {
        margin-bottom: 20px;
    }
}

.table {
    display: flex;
    justify-content: center;
    align-items: center;
}